# Load CSV Example
## Step 1 (Loading the CSV into the dataframe)

In following cell we are going to be loading a CSV file into a dataframe.


|   |   |   |   |   |
|---|---|---|---|---|
| A  | B  | C  | D  | E  |

In [15]:
import pandas as pd

df1 = pd.read_csv('Datasets/namelist.csv')

df1.head()

print(df1.shape)

df1.describe()

df1.head()

df1['Name'] = df1['Name'].str.strip()







df1.to_csv('Datasets/namelist_cleaned.csv')

(2, 4)

## Reindexing and experiments with indices

In this case, I am going to reload namelist and examine what happens when I have missing values in specific columns in my CSV file

In [16]:
df2 = pd.read_csv('Datasets/namelist2.csv')

df2.head()

,Unnamed: 0,ID,Name,Surname,Git Repository
0,0,1,Gerard,Said Pullicino,https://github.com/gerrysaidlessontest/MyFirst...
1,1,2,Peter,Borg,https://google.com
2,,,Joe,Fenech,https://google2.com
3,2,,Peter,Said Pullicino,https://google3.com